@{
    ViewData["Title"] = "Accueil";
}

<a href="avatar-xtrem/index.html">
    <p>Avatar Xtrem Surfeur</p>
</a>
<a href='@Url.Action("Index","AvatarDonjonMana")'>
    <p>Avatar Donjon Mana</p>
</a>
<a href='@Url.Action("Index","TikiIsland")'>
    <p>Tiki Island</p>
</a>
<a href="dance-dance-challenge/index.html">
    <p>Dance Dance Challenge</p>
</a>
<a href="karen-nails-art/index.html">
    <p>Karen's Nails Arts</p>
</a>
<a href="pendu/index.html">
    <p>Le pendu chimique</p>
</a>
